<% content_for :body do %>
  <body id="list">
<% end %>

<div class="page">

  <%= link_to "Molyjam 2013", news_path, class: 'molyjam' %>
  
  <% @inspirations.shuffle.each do |inspiration| %>
    <div class="contain">
      <div class="molybox">
        <%= link_to inspiration.quote.to_s, inspiration, class: "molyquote"  %>
        <div class="molycite">
          <%= link_to "Peter Molyneux", inspiration.source %>
        </div>
      </div>
    </div>
  <% end %>

  <div id="nav">
    <%= link_to "show curated wisdom", inspirations_path if @mode == :all %>
    <%= link_to "list all wisdom", inspirations_path(show: 'all') if @mode == :some %>
  </div>
</div>