<% content_for :body do %>
  <body id="single">
<% end %>

<div class="page">

  <%= link_to "Molyjam 2013", news_path, class: 'molyjam' %>
  
    <div class="contain">
      <div class="molybox">
        <%= link_to @inspiration.quote.to_s, @inspiration, class: "molyquote"  %>
        <div class="molycite">
          <%= link_to "Peter Molyneux", @inspiration.source %>
        </div>
      </div>
    </div>

  <div id="nav">
    <% #link_to "Tweet this wisdom", @inspiration &#8226;  %> 
    <%= link_to "show curated wisdom", inspirations_path %> &#8226; 
    <%= link_to "list all wisdom", inspirations_path(show: 'all') %>
  </div>
</div>