<% content_for :centerColumn do %>
<h3>Users</h3>
<table class="table table-hover">
  <thead>
  	<tr>
  	  <th>#</th>
  	  <th>Name</th>
  	  <th>Email</th>
  	</tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>View</td>
        <td><%= link_to("Edit", edit_user_registration_path(user), class: "btn") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Groups</h3>
<table class="table table-hover">
  <thead>
  	<tr>
  	  <th>#</th>
  	  <th>Name</th>
  	  <th>Description</th>
  	</tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.id %></td>
        <td><%= group.name %></td>
        <td><%= group.description %></td>
        <td><%= link_to("View", group_path(group), class: "btn") %></td>
        <td><%= link_to("Edit", edit_group_path(group), class: "btn") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Events</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Published</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.start_date %></td>
        <td><%= event.end_date %></td>
        <td><%= event.published %></td>
        <td><%= link_to("View", event_path(event), class: "btn") %></td>
        <td><%= link_to("Edit", edit_event_path(event), class: "btn") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Event', new_event_path, class: "btn" %>
<% end %>