<div id="quota">
  <%= number_to_human_size(current_user.upload_quota_used) %>  of <%= number_to_human_size(current_user.upload_quota) %>
</div>
<br />
<ul id="files">

<% @files.each do |user_file| %>
  <li>
    <a href="<%= user_file.file_path %>"><%= user_file.file_name %></a> - <%= number_to_human_size(user_file.file_size) %>
  </li>
<% end %>

**
<%= render "form" %>

</ul>
