<h2>Edit <%= @user.name.to_s.humanize %></h2>


<% if can?(:create, Membership) || can?(:destroy, Membership) %>
  <section>
    <h3>Group Management</h3>
    <% #TODO Clean up view, this code is gross %>
    <% webmasters_group = Group.where(name: :Webmasters).first %>
    <% organizers_group = Group.where(name: :Organizers).first %>
    <% hosts_group = Group.where(name: :Hosts).first %>

    <%= button_to("Add to Webmasters", memberships_path(membership:{user_id: @user.id, group_id: webmasters_group.id}), method: :post) if can?(:create, Membership) && !@user.group?(:Webmasters) %>
    <%= button_to("Remove from Webmasters", Membership.where(user_id: @user.id, group_id: webmasters_group.id).first, method: :delete) if can?(:destroy, Membership) && @user.group?(:Webmasters) %>

    <%= button_to("Add to Organizers", memberships_path(membership:{user_id: @user.id, group_id: organizers_group.id}), method: :post) if can?(:create, Membership) && !@user.group?(:Organizers) %>
    <%= button_to("Remove from Organizers", Membership.where(user_id: @user.id, group_id: organizers_group.id).first, method: :delete) if can?(:destroy, Membership) && @user.group?(:Organizers) %>

    <%= button_to("Add to Hosts", memberships_path(membership:{user_id: @user.id, group_id: hosts_group.id}), method: :post) if can?(:create, Membership) && !@user.group?(:Hosts) %>
    <%= button_to("Remove from Hosts", Membership.where(user_id: @user.id, group_id: hosts_group.id).first, method: :delete) if can?(:destroy, Membership) && @user.group?(:Hosts) %>
    
  </section>
<% end %>

<% #TODO: Ability for user to leave group %>

<%= form_for(@user, url: {action: "update"}, html: { method: :put }) do |f| %>

  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>

  <fieldset>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </fieldset>

  <fieldset>
    <%= f.label :website %>
    <%= f.url_field :website %>
  </fieldset>

  <fieldset>
    <%= f.label :biography %>
    <%= f.text_area :biography %>
  </fieldset>

  <fieldset>
    <%= f.label :twitter_username %>
    <%= f.text_field :twitter_username %>
  </fieldset>

  <fieldset>
    <%= f.submit "Update", class: "btn" %>
  </fieldset>

<% end %>

<%= link_to "Back", :back %>