<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Start date:</b>
  <%= @event.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @event.end_date %>
</p>

<p>
  <b>Published:</b>
  <%= @event.published %>
</p>


<%= link_to 'Edit', edit_event_path(@event), class: "btn" %> |
<%= link_to 'Back', events_path, class: "btn" %>
