<article>
  <header>
    <h2> User Administration</h2>
  </header>
  
  <section>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Icon</th>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users_last5.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= image_tag user.gravatar_url, width: "25px" %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td><%= link_to "Edit", edit_user_path(user), class: "btn" %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <%= form_tag users_path, method: "get" do %>
            <td colspan="3"><%= text_field_tag(:search, params[:search], id: "user_select", data: {usernames: User.find(:all, select: "username, email")}) %></td>
            <td><%= submit_tag("Edit", class: "btn") %></td>
          <% end %>
        </tr>
      </tfoot>
    </table>
  </section>

</article>
