<% title "MolyJam - Locations" %>
<% 
  map_data = Array.new 
  @venues.each do |venue| 
    if can?(:approve, venue) || venue.approved
      venue_map_data = "<div class=\"map-info\"><h1><a href=\"#{venue_path(venue)}\">#{venue.display_name}</a></h1><p>#{venue.address}</p></div>"
      map_data.push({latLng: [venue.latitude, venue.longitude], data: venue_map_data, category: venue.region })
    end
  end
%>
<%= content_tag "div", class: "map", "data-venues" => map_data.to_json do %>
<% end %>

<article>
  <div class="c1">
    <div id="locations-list">
      <ul class="sort-by">
        <li class="sort btn" data-sort="name">Sort by City</li>
        <li class="sort btn" data-sort="country">Sort by Country</li>
      </ul>
      <ul class="list">
        <% @venues.each do |venue| %>
          <% if can?(:approve, venue) || venue.approved %>
            <li>
              <%= link_to venue do %>
                <span class="flag-icon"><%= image_tag "flags/#{venue.country}.png" %></span>
                <h4><span class="name"><%= venue.display_name %></span><span class="category"><%= venue.region %></span></h4>
                <h5><span class="country"><%= venue.country_name %></span></h5>
                <% if can? :approve, venue %>
                  <span>Status: <%= venue.approved ? "Approved" : "Pending" %></span>
                <% end %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</article>
        
<aside>
  <h3>Region Filter</h3>
  <ul class="filter">
    <li class="btn filter" data-category="none">Show all</li>
    <% unless Venue.where(region: "Oceania").empty? %><li class="btn filter" data-category="Oceania">Only Oceania</li><% end %>
    <% unless Venue.where(region: "North America").empty? %><li class="btn filter" data-category="North America">Only North America</li><% end %>
    <% unless Venue.where(region: "South America").empty? %><li class="btn filter" data-category="South America">Only South America</li><% end %>
    <% unless Venue.where(region: "Europe").empty? %><li class="btn filter" data-category="Europe">Only Europe</li><% end %>
    <% unless Venue.where(region: "Asia").empty? %><li class="btn filter" data-category="Asia">Only Asia</li><% end %>
  </ul>

  <hr />

  <h3>Want to host a jam site?</h3>
  <p>We'd love to hear from you! <%= link_to "Click here", about_path %> for more information about what it takes to host a jam, and how you can get in touch with us to make it official on the website.</p>
</aside>