<article>
  <% if can? :update, @venue %>
  <div class="admin-insert"><%= link_to "Edit", edit_venue_path(@venue) %> - <%= link_to "Destroy", @venue,
            :confirm => 'Are you sure?', :method => :delete %> - <%= link_to "Approve", venue_approve_path(@venue), method: :post if can?(:approve, @venue)&& !@venue.approved %><br />Status: <%= @venue.approved ? "Approved" : "Pending" %></div>
  <% end %>

  <header>
    <h1 id="locationName"><%= @venue.display_name %></h1>
  </header>

  <%= raw(@venue.description) %>
  <% if can? :update, @venue %>
  <div class="admin-insert"><%= link_to "Edit", edit_venue_path(@venue) %> - <%= link_to "Destroy", @venue,
            :confirm => 'Are you sure?', :method => :delete %> - <%= link_to "Approve", venue_approve_path(@venue), method: :post if can?(:approve, @venue)&& !@venue.approved %><br />Status: <%= @venue.approved ? "Approved" : "Pending" %></div>
  <% end %>
</article>

<aside class="map-wrap">
  <%= content_tag "div", class: "map", data: {venues: Venue.find(@venue.id, select: "id, name, longitude, latitude")} do %><% end %>
</aside>
<div class="no-bg">
  <aside>
    <h3>Address</h3>
    <p>
      <span id="venueName" class="venueName"><%= @venue.name %></span><br/>
      <span id="streetAddress"><%= @venue.street %></span><br/>
      <span id="cityStateZip"><%= @venue.city %>, <%= @venue.state %>, <%= @venue.country_name %></span><br/>
    </p>
  </aside>
  <aside>
    <h3>Contact</h3>
      <p>
        <% @venue.hosts.each do |host| %>
          <span id="contactName"><%= host.name %></span><br/>
          <span id="contactTwitter">@<%= host.twitter_username if host.twitter_username %></span><br/>
        <% end %>
        <%= mail_to @venue.email, nil, :encode => "javascript", :replace_at => "_at_", :replace_dot => "_dot_" %>
      </p>
  </aside>
  <% if (@venue.sponsors.empty?) && can?(:create, Sponsor) && can?(:update, @venue) %>
    <aside>
      <h3>Sponsors</h3>
      <div class="admin-insert"><%= link_to "Add", new_venue_sponsor_path(@venue) %></div>
    </aside>
  <% elsif !@venue.sponsors.empty? %>
    <aside>
      <h3>Sponsors</h3>
        <p>
          <% sponsors_list = @venue.sponsors.sort{ |x,y| x.rank <=> y.rank } %>
          <% sponsors_list.each do |sponsor| %>
            <%
            if(sponsor.temporary? && can?(:edit, Sponsor) == false)
              next
            end
            %>

            <%= sponsor_tag(sponsor) %>

            <% if can?(:update || :destroy, sponsor) %>
              <div class="admin-insert">
                <%= link_to("Edit", edit_venue_sponsor_path(@venue, sponsor)) if can? :update, sponsor %> - <%= link_to("Remove", venue_sponsor_path(@venue, sponsor), :confirm => 'Are you sure?', :method => :delete) if can? :destroy, sponsor %> - <%= link_to("Up", venue_sponsor_move_up_path(@venue, sponsor), method: :put) if can? :move_up, sponsor %> - <%= link_to("Down", venue_sponsor_move_down_path(@venue, sponsor), method: :put) if can? :move_down, sponsor %>
              </div>
            <% end %>
          <% end %>
          <%= content_tag("div", class: "admin-insert") do link_to("Add", new_venue_sponsor_path(@venue)) end if can?(:create, Sponsor) && can?(:update, @venue) %>
        </p>
    </aside>
  <% end %>
</div>
