<article>
  <% if can? :update, @venue %>
  <div class="admin-insert"><%= link_to "Edit", edit_venue_path(@venue) %> - <%= link_to "Destroy", @venue,
            :confirm => 'Are you sure?', :method => :delete %></div>
  <% end %>
  
  <header>
    <h1 id="locationName"><%= @venue.city %></h1>
  </header>

  <%= raw(@venue.description) %>
  <% if can? :update, @venue %>
  <div class="admin-insert"><%= link_to "Edit", edit_venue_path(@venue) %> - <%= link_to "Destroy", @venue,
            :confirm => 'Are you sure?', :method => :delete %></div>
  <% end %>
</article>

<aside class="map-wrap">
  <%= content_tag "div", class: "map", data: {venues: Venue.find(@venue.id, select: "id, name, longitude, latitude")} do %><% end %>
</aside>
<div class="no-bg">
  <aside>
    <h3>Address</h3>
    <p>
      <span id="venueName"><%= @venue.name %></span><br/>
      <span id="streetAddress"><%= @venue.street %></span><br/>
      <span id="cityStateZip"><%= @venue.city %>, <%= @venue.state %>, <%= @venue.country %></span><br/>
    </p>
  </aside>
  <aside>
    <h3>Contact</h3>
      <p>
        <% @venue.hosts.each do |host| %>
          <span id="contactName"><%= host.name %></span><br/>
          <span id="contactTwitter">@<%= host.twitter_username if host.twitter_username %></span><br/>
        <% end %>
      </p>
  </aside>
</div>