<article>
  <% if can? :update, @venue %>
  <div class="admin-insert"><%= link_to "Edit", edit_venue_path(@venue) %> - <%= link_to "Destroy", @venue,
            :confirm => 'Are you sure?', :method => :delete %></div>
  <% end %>
  
  <header>
    <h1 id="locationName"><%= @venue.city %></h1>
  </header>

  <%= raw(@venue.description) %>
  <% if can? :update, @venue %>
  <div class="admin-insert"><%= link_to "Edit", edit_venue_path(@venue) %> - <%= link_to "Destroy", @venue,
            :confirm => 'Are you sure?', :method => :delete %></div>
  <% end %>
</article>

<aside class="map-wrap">
  <%= content_tag "div", class: "map", data: {venues: Venue.find(@venue.id, select: "id, name, longitude, latitude")} do %><% end %>
</aside>
<div class="no-bg">
  <aside>
    <h3>Address</h3>
    <p>
      <span id="venueName"><%= @venue.name %></span><br/>
      <span id="streetAddress"><%= @venue.street %></span><br/>
      <span id="cityStateZip"><%= @venue.city %>, <%= @venue.state %>, <%= @venue.country %></span><br/>
    </p>
  </aside>
  <aside>
    <h3>Contact</h3>
      <p>
        <% @venue.hosts.each do |host| %>
          <span id="contactName"><%= host.name %></span><br/>
          <span id="contactTwitter">@<%= host.twitter_username if host.twitter_username %></span><br/>
        <% end %>
      </p>
  </aside>
  <% if (@venue.sponsors.empty?) && can?(:create, Sponsor)%>
    <aside>
      <h3>Sponsors</h3>
      <%= link_to "Add", new_sponsor_path %>
    </aside>
  <% elsif !@venue.sponsors.empty? %>
    <aside>
      <h3>Sponsors</h3>
        <p>
          <% @venue.sponsors.each do |sponsor| %>
            <%= image_tag(sponsor.image.url, width: "100%")%>
            <%= link_to("Edit", edit_sponsor_path(sponsor)) if can? :update, sponsor %>
            <%= link_to("Remove", sponsor, :confirm => 'Are you sure?', :method => :delete) if can? :destroy, sponsor %>
          <% end %>
          <%= link_to "Add", new_sponsor_path if can? :create, Sponsor %>
        </p>
    </aside>
  <% end %>
</div>