<section>
  <h2>Credits</h2>
  <table class="credits">
    <tbody>

      <% @game.credits.each do |credit| %>
      <tr>
        <td class="name"><%= credit.user.name %></td>
        <td class="twitter">
          <%= link_to "@#{credit.user.twitter_username}", "http://www.twitter.com/#{credit.user.twitter_username}" unless credit.user.twitter_username.empty? %></td>
        <td class="title"><%= credit.title %></title>

        <% if can?(:destroy, @credit) && credit.user.memberships.where(group_id: @game.group_id).first.role < Membership::ROLES[:founder] %>
        <td class="admin-insert">
          <%= link_to "Remove", game_credit_path(@game, @credit), :method => :delete, :confirm => "Are you sure?" %>
        </td>
        <% end %>

      </tr>
      <% end %>

    </tbody>

    <% if can? :edit, @game %>
    <tfoot>
        <% if can? :create, User %>
        <%= form_for :user, url: game_credits_path(@game) do |f| %>
        <tr>
          <td class="admin-insert">Name:</td>
          <td class="admin-insert" colspan="2"><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td class="admin-insert">Email:</td>
          <td class="admin-insert" colspan="2"><%= f.text_field :email %></td>
        </tr>
        <tr>
          <td class="admin-insert">Title:</td>
          <td class="admin-insert" colspan="2"><%= f.text_field :title %></td>
        </tr>
        <tr>
          <td class="admin-insert" colspan="3"><%= f.submit "Add User", class: "btn" %></td>
        </tr>
        <% end %>
        <% else %>
        <td colspan="3">Note: Only the orginal creator of the game page can edit users</td>
        <% end %>
      </tr>
    </tfoot>
    <% end %>

  </table>

</section>
<hr/>