<p>Acceptable file formats are zip, tar, gz. Max file size is 500mb.</p>

<div id="windows-file">
  <hr />
  <% if @game.windows_file.to_s.empty? %>
  <%= direct_upload_form_for @game.windows_file, html: {id: "new_windows_file_uploader"} do |f| %>
  <%= f.label :windows_file, "Windows: " %>
  <%= f.file_field :windows_file, style: "width: 100%", name: "game[windows_file]" %>
  <% end %>
  <% else %>
  <%= form_for @game, url: game_remove_file_path(@game), method: "post" do |f| %>
  <%= f.label :windows_file, "Windows: " %>
  <%= f.hidden_field :file, value: "windows_file" %>
  <%= f.submit "Delete" %>
  <% end %>
  <% end %>
</div>

<div id="mac-file">
  <hr />
  <% if @game.mac_file.to_s.empty? %>
  <%= direct_upload_form_for @game.mac_file, html: {id: "new_mac_file_uploader"} do |f| %>
  <%= f.label :mac_file, "Mac: " %>
  <%= f.file_field :mac_file, style: "width: 100%", name: "game[mac_file]" %>
  <% end %>
  <% else %>
  <%= form_for @game, url: game_remove_file_path(@game), method: "post" do |f| %>
  <%= f.label :mac_file, "Mac: " %>
  <%= f.hidden_field :file, value: "mac_file" %>
  <%= f.submit "Delete" %>
  <% end %>
  <% end %>
</div>

<div id="linux-file">
  <hr />
  <% if @game.linux_file.to_s.empty? %>
  <%= direct_upload_form_for @game.linux_file, html: {id: "new_linux_file_uploader"} do |f| %>
  <%= f.label :linux_file, "Linux: " %>
  <%= f.file_field :linux_file, style: "width: 100%", name: "game[linux_file]" %>
  <% end %>
  <% else %>
  <%= form_for @game, url: game_remove_file_path(@game), method: "post" do |f| %>
  <%= f.label :linux_file, "Linux: " %>
  <%= f.hidden_field :file, value: "linux_file" %>
  <%= f.submit "Delete" %>
  <% end %>
  <% end %>
</div>

<script id="template-upload-files" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>