<% title "MolyJam - Games" %>
<div id="big-ass-game-list">
  <div class="gamelist-filters">

    <div class="dropdown-btn-container">
      <div data-dropdown="#dropdown-platform" class="btn-filter">
        <span class="dropdown-label">PLATFORM</span>
        <span class="dropdown-selected" id="current-platform">All</span>
      </div>
      <div data-dropdown="#dropdown-genre" class="btn-filter">
        <span class="dropdown-label">GENRE</span>
        <span class="dropdown-selected" id="current-genre">All</span>
      </div>
      <div data-dropdown="#dropdown-location" class="btn-filter">
        <span class="dropdown-label">LOCATION</span>
        <span class="dropdown-selected" id="current-location">All</span>
      </div>
       
      <%= image_tag "games/sort-grid.png", id: "dropdown-grid-button", class: "dropdown-sort active" %>
      <%= image_tag "games/sort-list.png", id: "dropdown-list-button", class: "dropdown-sort inactive" %>
      <div  class="dropdown-search">
        <input type="text" class="search" placeholder="Search Filtered Results">
      </div>
    </div>

    <div id="dropdown-platform" class="dropdown dropdown-tip">
      <ul class="dropdown-menu">
        <li><a class="dropdown-platform-link" id="platform-all">All</a></li>
        <li><a class="dropdown-platform-link" id="windows">Windows</a></li>
        <li><a class="dropdown-platform-link" id="mac">Mac OS X</a></li>
        <li><a class="dropdown-platform-link" id="linux">Linux</a></li>
        <li><a class="dropdown-platform-link" id="flash">Flash (Browser)</a></li>
        <li><a class="dropdown-platform-link" id="unity">Unity (Browser) 5</a></li>
        <li><a class="dropdown-platform-link" id="html5">HTML 5 (Browser)</a></li>
        <li><a class="dropdown-platform-link" id="ios">iOS (Mobile)</a></li>
        <li><a class="dropdown-platform-link" id="android">Android (Mobile)</a></li>
      </ul>
    </div>

    <div id="dropdown-genre" class="dropdown dropdown-tip">
      <ul class="dropdown-menu">
        <li><a class="dropdown-genre-link" id="genre-all">All</a></li>
        <li><a class="dropdown-genre-link" id="RPG">RPG</a></li>
        <li><a class="dropdown-genre-link" id="Simulation">Simulation</a></li>
        <li><a class="dropdown-genre-link" id="Social">Social</a></li>
        <li><a class="dropdown-genre-link" id="Strategy">Strategy</a></li>
      </ul>
    </div>

    <div id="dropdown-location" class="dropdown dropdown-tip">
      <ul class="dropdown-menu">
        <li><a class="dropdown-location-link" id="location-all">All</a></li>
        <li><a class="dropdown-location-link" id="Guildford">Guildford</a></li>
        <li><a class="dropdown-location-link" id="London">London</a></li>
        <li><a class="dropdown-location-link" id="New York">New York</a></li>
        <li><a class="dropdown-location-link" id="Seattle">Seattle</a></li>
      </ul>
    </div>

  </div>

  <div id="game-list-toggle" class="layout-grid">
    <div id="game-list">
      <ul class="list gamelist">
        <li>
          <span class="windows" style="display:none">windows</span>
          <div class="gamelist-container"> 
            <a href="location-example.html">
              <div class="list-screenshot-top" style="background-image: url(img/fable.jpg)"></div>
            </a>
            <div class="list-body-container">
              <div class="list-body-grid">
                <h4><a href="location-example.html"><span class="name">Fable</span></a></h4>
                <h5><span class="genre">RPG</span></h5>
                <div class="description">Fable is a groundbreaking roleplaying-adventure game in which your every action determines your skills, appearance, and reputation.</div>
                <hr/>
                <%= image_tag "games/platforms/windows.png", class: "list-platform" %> 
                <h5><span class="location-filler">Made in </span><span class="location">London</span> </h5>
              </div>
              <div class="list-body-list">
                <%= image_tag "games/platforms/windows.png", class: "list-platform" %>
                <span class="list-game-info">
                  <h4><span class="name">Fable</span></h4>
                  <h5>
                    <span class="genre">RPG</span>
                    <span class="location-filler">Made in <span class="location">London</span>
                  </h5>
                  <hr/>
                  <div class="description">Fable is a groundbreaking roleplaying-adventure game in which your every action determines your skills, appearance, and reputation.</div>
                </span>
              </div>
            </div>
            <div class="list-screenshot-bottom" style="background-image: url(img/fable.jpg)"></div>
          </div>
        </li>
        <li>
          <span class="ios" style="display:none">windows</span>
          <span class="android" style="display:none">android</span>
          <span class="unity" style="display:none">unity</span>
          <div class="gamelist-container">
            <a href="location-example.html">
              <div class="list-screenshot-top" style="background-image: url(img/godus.jpg)"></div>
            </a>
            <div class="list-body-container">
              <div class="list-body-grid">
                <h4>
                  <a href="location-example.html"><span class="name">Godus</span></a>
                </h4>
                <h5>
                  <span class="genre">Simulation</span>
                </h5>
                <div class="description">
                  Grant the power of life and blossom the world around your believers, or use godly powers to wreak havoc via natural disasters and defeat the armies of other gods.
        </div>
        <hr/>
        <%= image_tag "games/platforms/ios.png", class: "list-platform" %>
        <%= image_tag "games/platforms/android.png", class: "list-platform" %>
        <%= image_tag "games/platforms/unityweb.png", class: "list-platform" %> 
        <h5>
   <span class="location-filler">Made in </span><span class="location">Guildford</span> 
        </h5>
   
      </div>
      <div class="list-body-list">
        <%= image_tag "games/platforms/windows.png", class: "list-platform" %>
        <%= image_tag "games/platforms/android.png", class: "list-platform" %>
        <%= image_tag "games/platforms/unityweb.png", class: "list-platform" %>   
        <span class="list-game-info">
   <h4><span class="name">Godus</span></h4>
   <h5><span class="genre">Simulation</span>
     <span class="location-filler">Made in <span class="location">Guildford</span></h5>
   <hr/>
   <div class="description">
     Whether it’s granting the power of life and blossoming the world around your believers, or using godly powers to wreak havoc via natural disasters to defeat the armies of other gods, prepare for the Ultimate God Game.
   </div>
        </span>
      </div>
    </div>
    <div class="list-screenshot-bottom" style="background-image: url(img/godus.jpg)"></div>
  </div>
     </li>
       <li>
  <span class="windows" style="display:none">windows</span>
  <span class="mac" style="display:none">mac</span>
  <div class="gamelist-container"> 
    <a href="location-example.html">
      <div class="list-screenshot-top" style="background-image: url(img/dungeonkeeper.jpg)"></div>
    </a>
    <div class="list-body-container">
      <div class="list-body-grid">
        <h4>
   <a href="location-example.html"><span class="name">Dungeon Keeper</span></a>
        </h4>
        <h5>
   <span class="genre">Simulation</span>
        </h5>
        <div class="description">
   Build your dungeon, protect it with a labyrinth of dark corridors, a web of deadly traps, an arsenal of powerful spells, and an army of bloodthirsty demons.
        </div>
        <hr/>
   <%= image_tag "games/platforms/windows.png", class: "list-platform" %>   
   <%= image_tag "games/platforms/mac.png", class: "list-platform" %> 

        <h5>
   <span class="location-filler">Made in </span><span class="location">New York</span> 
        </h5>
   
      </div>
      <div class="list-body-list">
        <%= image_tag "games/platforms/windows.png", class: "list-platform" %>
        <%= image_tag "games/platforms/mac.png", class: "list-platform" %> 
        <span class="list-game-info">
   <h4><span class="name">Dungeon Keeper</span></h4>
   <h5><span class="genre">Simulation</span>
     <span class="location-filler">Made in <span class="location">New York</span></h5>
   <hr/>
   <div class="description">
     Build your dungeon, protect it with a labyrinth of dark corridors, a web of deadly traps, an arsenal of powerful spells, and an army of bloodthirsty demons.
   </div>
        </span>
      </div>
    </div>
    <div class="list-screenshot-bottom" style="background-image: url(img/dungeonkeeper.jpg)"></div>
  </div>
     </li>
       <li>
  <span class="windows" style="display:none">windows</span>
  <span class="linux" style="display:none">linux</span>
  <div class="gamelist-container"> 
    <a href="location-example.html">
      <div class="list-screenshot-top" style="background-image: url(img/populous.jpg)"></div>
    </a>
    <div class="list-body-container">
      <div class="list-body-grid">
        <h4>
   <a href="location-example.html"><span class="name">Populous</span></a>
        </h4>
        <h5>
   <span class="genre">Strategy</span>
        </h5>
        <div class="description">
   Miracles are child's play. Earthquakes are serious fun. The all-powerful can perform miracles in their sleep.
        </div>
        <hr/>
   <%= image_tag "games/platforms/windows.png", class: "list-platform" %>  
   <%= image_tag "games/platforms/linux.png", class: "list-platform" %>       
        <h5>
   <span class="location-filler">Made in </span><span class="location">Seattle</span> 
        </h5>
   
      </div>
      <div class="list-body-list">
        <%= image_tag "games/platforms/windows.png", class: "list-platform" %>
        <%= image_tag "games/platforms/linux.png", class: "list-platform" %>   
        <span class="list-game-info">
   <h4><span class="name">Populous</span></h4>
   <h5><span class="genre">Strategy</span>
     <span class="location-filler">Made in <span class="location">Seattle</span></h5>
   <hr/>
   <div class="description">
     Miracles are child's play. Earthquakes are serious fun. The all-powerful can perform miracles in their sleep.
   </div>
        </span>
      </div>
    </div>
    <div class="list-screenshot-bottom" style="background-image: url(img/populous.jpg)"></div>
  </div>
     </li>
       <li>
  <span class="ios" style="display:none">ios</span>
  <div class="gamelist-container"> 
    <a href="location-example.html">
      <div class="list-screenshot-top" style="background-image: url(img/curiosity.jpg)"></div>
    </a>
    <div class="list-body-container">
      <div class="list-body-grid">
        <h4>
   <a href="location-example.html"><span class="name">Curiosity: What's Inside the Cube?</span></a>
        </h4>
        <h5>
   <span class="genre">Social</span>
        </h5>
        <div class="description">
    What is inside the cube is life-changingly amazing by any definition.
        </div>
        <hr/>
   <%= image_tag "games/platforms/ios.png", class: "list-platform" %>    
        <h5>
   <span class="location-filler">Made in </span><span class="location">Guildford</span> 
        </h5>
   
      </div>
      <div class="list-body-list">
        <%= image_tag "games/platforms/ios.png", class: "list-platform" %>
        <span class="list-game-info">
   <h4><span class="name">Curiosity: What's Inside the Cube?</span></h4>
   <h5><span class="genre">Social</span>
     <span class="location-filler">Made in <span class="location">Guildford</span></h5>
   <hr/>
   <div class="description">
     What is inside the cube is life-changingly amazing by any definition.
   </div>
        </span>
      </div>
    </div>
    <div class="list-screenshot-bottom" style="background-image: url(img/curiosity.jpg)"></div>
  </div>
     </li>
       

     </a>
 </div>
      </div>
    </div>
    
       
   
    