<% title "MolyJam - Games" %>
<div id="big-ass-game-list">
  <div class="gamelist-filters">

    <div class="dropdown-btn-container">
      <div data-dropdown="#dropdown-platform" class="btn-filter">
        <span class="dropdown-label">PLATFORM</span>
        <span class="dropdown-selected" id="current-platform">All</span>
      </div>
      <div data-dropdown="#dropdown-genre" class="btn-filter">
        <span class="dropdown-label">GENRE</span>
        <span class="dropdown-selected" id="current-genre">All</span>
      </div>
      <div data-dropdown="#dropdown-location" class="btn-filter">
        <span class="dropdown-label">LOCATION</span>
        <span class="dropdown-selected" id="current-location">All</span>
      </div>
       
      <%= image_tag "games/sort-grid.png", id: "dropdown-grid-button", class: "dropdown-sort active" %>
      <%= image_tag "games/sort-list.png", id: "dropdown-list-button", class: "dropdown-sort inactive" %>
      <div  class="dropdown-search">
        <input type="text" class="search" placeholder="Search Filtered Results">
      </div>
    </div>

    <div id="dropdown-platform" class="dropdown dropdown-tip">
      <ul class="dropdown-menu">
        <li><a class="dropdown-platform-link" id="platform-all">All</a></li>
        <li><a class="dropdown-platform-link" id="windows">Windows</a></li>
        <li><a class="dropdown-platform-link" id="mac">Mac OS X</a></li>
        <li><a class="dropdown-platform-link" id="linux">Linux</a></li>
        <li><a class="dropdown-platform-link" id="flash">Flash (Browser)</a></li>
        <li><a class="dropdown-platform-link" id="unity">Unity (Browser) 5</a></li>
        <li><a class="dropdown-platform-link" id="html5">HTML 5 (Browser)</a></li>
        <li><a class="dropdown-platform-link" id="ios">iOS (Mobile)</a></li>
        <li><a class="dropdown-platform-link" id="android">Android (Mobile)</a></li>
      </ul>
    </div>

    <div id="dropdown-genre" class="dropdown dropdown-tip">
      <ul class="dropdown-menu">
        <li><a class="dropdown-genre-link" id="genre-all">All</a></li>
        <% Game.select(:genre).map(&:genre).uniq.each do |genre| %>
          <li><a class="dropdown-genre-link" id="<%= genre.to_s %>"><%= genre.to_s %></a></li>
        <% end %>
      </ul>
    </div>

    <div id="dropdown-location" class="dropdown dropdown-tip">
      <ul class="dropdown-menu">
        <li><a class="dropdown-location-link" id="location-all">All</a></li>
        <% Venue.all.each do |venue| %>
          <li><a class="dropdown-location-link" id="<%= venue.display_name %>"><%= venue.display_name %></a></li>
        <% end %>
      </ul>
    </div>

  </div>

  <div id="game-list-toggle" class="layout-grid">
    <div id="game-list">
      <ul class="list gamelist">
        <% @games.each do |game| %>
        <li>
          <span class="windows" style="display:none">windows</span>
          <div class="gamelist-container"> 
            <%= link_to game_path(game) do %>
              <div class="list-screenshot-top" style="background-image: url(<%= asset_path "pixel-bg.jpg"%>)"></div>
            <% end %>
            <div class="list-body-container">
              <div class="list-body-grid">
                <h4><%= link_to game_path(game) do %><span class="name"><%= game.name %></span><% end %></h4>
                <h5><span class="genre"><%= game.genre %></span></h5>
                <div class="description"><%= game.description %></div>
                <hr/>
                <%= image_tag "games/platforms/windows.png", class: "list-platform" %> 
                <h5><span class="location-filler">Made in </span><span class="location"><%= game.venue.display_name %></span> </h5>
              </div>
              <div class="list-body-list">
                <%= image_tag "games/platforms/windows.png", class: "list-platform" %>
                <span class="list-game-info">
                  <h4><%= link_to game_path(game) do %><span class="name"><%= game.name %></span><% end %></h4>
                  <h5>
                    <span class="genre"><%= game.genre %></span>
                    <span class="location-filler">Made in <span class="location"><%= game.venue.display_name %></span>
                  </h5>
                  <hr/>
                  <div class="description"><%= game.description %></div>
                </span>
              </div>
            </div>
            <%= link_to game_path(game) do %>
              <div class="list-screenshot-bottom" style="background-image: url(<%= asset_path "pixel-bg.jpg"%>)"></div>
            <% end %>
          </div>
        </li>
        <% end %>
        
      </div>
    </div>
  </div>
</div>
    
       
   
    