<% content_for :header do %>

<div id="header-image">
  <svg id="svg-image-blur" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%">
    <defs>
      <filter id="blur-effect-1">
        <feGaussianBlur stdDeviation="2"></feGaussianBlur>
      </filter>
    </defs>
    <image xlink:href="<%= asset_path "pixel-bg.jpg"%>" id="css-filter-blur" class="stretch" alt="" width="100%" height="100%" filter="url(#blur-effect-1)" preserveAspectRatio="xMidYMid slice"></image>
  </svg>
</div>

<% end %>

<h1 id="gameTitle" class="game-title"><%= best_in_place_if can?(:edit, @game), @game, :name, type: :input, ok_button: "Save", cancel_button: "Cancel" %></h1>
<article>
  <% if can?(:edit, @game) %>
  <div class="admin-insert">
    To edit any of your game data, simply click on the text you wish to edit.
  </div>
  <% end %>

  <% if !@game.description.empty? || can?(:edit, @game) %>
  <header>
    <h2>About</h2>
    <p><%= best_in_place_if can?(:edit, @game),  @game, :description, type: :textarea, ok_button: "Save", cancel_button: "Cancel", nil: "click here to add a description" %></p>
  </header>
  <hr/>
  <% end %>

  <section>
    <% #@game.screenshot.each do |screenshots| %>
    <!-- p><img src="img/kachina1.jpg" width="100%"></p -->
    <% #end %>
  </section>
  <hr/>

  <section>
    <h2>Credits</h2>
    <p>
      <table width="100%">
        <tbody class="list">
          <% @game.group.users.each do |user| %>
          <tr>
            <td class="name"><%= user.name %></td>
            <td class="twitter"><%= link_to "@#{user.twitter_username}", "http://www.twitter.com/#{user.twitter_username}" unless user.twitter_username.empty? %></td>
            <% if can?(:remove_user, @game) && user.memberships.where(group_id: @game.group_id).first.role < Membership::ROLES[:founder] %>
            <td>
              <%= form_for :user, url: game_remove_user_path(@game) do |f| %>
              <%= f.hidden_field :id, value: user.id %>
              <%= f.submit "Remove" %>
              <% end %>
            </td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
        <tfoot>
          <% if can? :add_user, @game %>
          <tr>
            <%= form_for :user, url: game_add_user_path(@game) do |f| %>
            <td>Username</td>
            <td><%= f.text_field :username %></td>
            <td><%= f.submit "Add" %></td>
            <% end %>
          </tr>
          <% end %>
        </tfoot>
      </table>
      <% if can? :edit, @game %>
      <div class="admin-insert">
        Note: Only the orginal creator of the game page can edit users
      </div>
      <% end %>
    </p>
  </section>
  <hr/>

  <% if !@game.directions.empty? || can?(:edit, @game) %>
  <section>
    <h2>Directions</h2>
    <p><%= best_in_place_if can?(:edit, @game), @game, :directions, type: :textarea, ok_button: "Save", cancel_button: "Cancel", nil: "click here to add some directions" %></p>
  </section>
  <hr/>
  <% end %>

</article>

<div class="download-area">
  <%= link_to "" do %><aside class="download-link"><%= image_tag "games/platforms/windows.png" %><p>Download</p></aside><% end unless true %>
  <%= link_to "" do %><aside class="download-link"><%= image_tag "games/platforms/mac.png" %><p>Download</p></aside></a><% end unless true %>
  <%= link_to "" do %><aside class="download-link"><%= image_tag "games/platforms/linux.png" %><p>Download</p></aside></a><% end unless true %>

  <%= link_to @game.play_in_browser_url do %>
  <aside class="download-link">
    <%= image_tag "games/platforms/flash.png" if @game.play_in_browser_type == "flash"%>
    <%= image_tag "games/platforms/html5.png" if @game.play_in_browser_type == "html"%>
    <%= image_tag "games/platforms/unityweb.png" if @game.play_in_browser_type == "unity"%>
    <p>Play in Browser</p>
  </aside>
  <% end unless @game.play_in_browser_url.to_s.empty? %>

  <%= link_to @game.ios_url do %><aside class="download-link"><%= image_tag "games/platforms/ios.png" %><p>Find on App Store</p></aside></a><% end unless @game.ios_url.to_s.empty? %>
  <%= link_to @game.android_url do %><aside class="download-link"><%= image_tag "games/platforms/android.png" %><p>Find on Google Play</p></aside></a><% end unless @game.android_url.to_s.empty? %>

  <% if can? :edit, @game %>
  <aside>
    <%= form_for(@game) do |f| %>
    <div class="field">
      <%= f.label :play_in_browser_url, "Play in Browser URL" %>
      <%= f.url_field :play_in_browser_url %>
    </div>
    <div class="field">
      <%= f.label :play_in_browser_type %>
      <%= f.select(:play_in_browser_type, [["Flash", "flash"], ["HTML 5", "html"], ["Unity Web Player", "unity"]]) %>
    </div>
    <div class="field">
      <%= f.label :android_url, "Android Marketplace URL" %>
      <%= f.url_field(:android_url) %>
    </div>
    <div class="field">
      <%= f.label :ios_url, "iOS App Store URL" %>
      <%= f.url_field(:ios_url) %>
    </div>
    <br />
    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>
  </aside>
  <% end %>
</div>

<div class="no-bg">
  <aside>
    <h3>Information</h3>
    <p>
      <% if can? :edit, @game %>
        <% 
          locations = Array.new 
          Venue.all.each{ |venue| locations.push [venue.id, venue.display_name]}
        %>
        <span class="info-category">Genre: </span> <span class="info-fill" id="genreName"><%= best_in_place_if can?(:edit, @game), @game, :genre %></span><br/>
        <span class="info-category">Engine / Tool: </span> <span class="info-fill" id="gameEngine"><%= best_in_place_if can?(:edit, @game), @game, :engine %></span><br/>
        <span class="info-category">Location: </span><span class="info-fill" id="gameLocation"><%= best_in_place_if can?(:edit, @game), @game, :venue_id, type: :select, collection: locations %></p></span>
      <% else %>
        <span class="info-category">Genre: </span> <span class="info-fill" id="genreName"><%= @game.genre.to_s.titleize %></span><br/>
        <span class="info-category">Engine / Tool: </span> <span class="info-fill" id="gameEngine"><%= @game.engine.to_s.titleize %></span><br/>
        <span class="info-category">Location: </span><span class="info-fill" id="gameLocation"><%= link_to @game.venue.display_name, venue_path(@game.venue) %></span>
      <% end %>
    </p>
  </aside>

  <% if !@game.inspiration.empty? || can?(:edit, @game) %>
    <aside>
      <h3>Inspiration</h3>
      <p><%= best_in_place_if can?(:edit, @game), @game, :inspiration, type: :textarea, ok_button: "Save", cancel_button: "Cancel", nil: "click here to add the inspirating quote" %></p>
    </aside>
  <% end %>

</div>
