<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @screenshot.game_id %>
</p>

<p>
  <b>Image:</b>
  <%= @screenshot.image %>
</p>


<%= link_to 'Edit', edit_screenshot_path(@screenshot) %> |
<%= link_to 'Back', screenshots_path %>
