<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Description:</b>
  <%= @location.description %>
</p>

<p>
  <b>Address:</b>
  <%= @location.address %>
</p>

<%= link_to 'Edit', edit_location_path(@location), class: "btn" %> |
<%= link_to 'Back', locations_path, class: "btn" %>
