<div class="header-container">
  <header class="wrapper clearfix">
    <%= link_to image_tag("header-logo.png", :class => "logo"), '/news' %>
    <nav>
      <ul>
        <% if user_signed_in? %>
          <li>
          <%= link_to "My Account", dashboard_path %>
        </li>
        <% else %>
          <li><%= link_to "Login", :new_user_session %></li>
        <% end %>
        <li><%= link_to "Theme", inspirations_path %></li>
        <li><%= link_to "About", "/about" %></li>
        <li><%= link_to "Locations", Venue %></a></li>
        <li><%= link_to "News", "/news" %></li>
        <li><%= link_to "Watch Live", "http://www.twitch.tv/team/molyjam/"%></li>
      </ul>
    </nav>
  </header>
</div>
<% flash.each do |type, message|
          case type 
            when :alert %><div class="alert alert-error"><strong>Alert</strong><%= message %></div><% 
            when :notice %><div class="alert alert-success"><strong>Notice</strong><%= message %></div><% 
            when :message %><div class="alert alert-info"><strong>Message</strong><%= message %></div><% 
          end %>
        <% end %>
<%= yield :header %>
