<div class="header-container">
  <header class="wrapper clearfix">
    <%= link_to image_tag("header-logo.png", :class => "logo"), '/' %>
    <nav>
      <ul>
        <li><%= link_to "Home", '/' %></li>
        <li><%= link_to "Locations", Venue %></a></li>
        <li><%= link_to "About", "/about" %></li>
        <li><%= link_to "Login", :new_user_session %></li>
      </ul>
    </nav>
  </header>
</div>