<div class="header-container">
  <header class="wrapper clearfix">
    <%= link_to image_tag("header-logo.png", :class => "logo"), '/' %>
    <nav>
      <ul>
        <li><%= link_to "Home", '/' %></li>
        <li><%= link_to "Locations", Venue %></a></li>
        <li><%= link_to "About", "/about" %></li>
        <% if user_signed_in? %>
          <li><%= link_to( image_tag(current_user.gravatar_url, height: "46px"), edit_user_registration_path, style: "padding: 0") %></li>
        <% else %>
          <li><%= link_to "Login", :new_user_session %></li>
        <% end %>
      </ul>
    </nav>
  </header>
</div>